{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - {{ user.username }}{% if page > 1 %} - страница {{ page }}{% endif %}{% endblock %}
{% block description %}Решения пользователя {{ user.username }}{% if page > 1 %} (страница {{ page }}){% endif %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Результаты пользователя {{ user.username }}</h1>
    </div>
    <div class="row results-row">
        <div class="col-md-6">
            {%- for result in results -%}
                {%- if loop.index is odd -%}
                    {% include('web/_result.html.twig') with {'user_link': false, 'problem_link': true} %}
                {%- endif -%}
            {%- endfor -%}
        </div>
        <div class="col-md-6">
            {%- for result in results -%}
                {%- if loop.index is even -%}
                    {% include('web/_result.html.twig') with {'user_link': false, 'problem_link': true} %}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
    {{ include('_paginator.html.twig') }}
{% endblock %}
